version: '2.1'
services:

    # PowerAuth Server Database
    powerauth-mysql:
        image: powerauth/server-mysql
        container_name: powerauth-server-mysql
        ports:
            - "23316:3306"
        environment:
            - MYSQL_ROOT_PASSWORD=${POWERAUTH_MYSQL_PASSWORD}
        volumes:
            - ${POWERAUTH_MYSQL_PATH}:/var/lib/mysql
        healthcheck:
            test: mysqladmin -uroot -p${POWERAUTH_MYSQL_PASSWORD} ping
            interval: 5s
            timeout: 5s
            retries: 30

    # PowerAuth Push Server Database
    powerauth-push-mysql:
        image: powerauth/push-mysql
        container_name: powerauth-push-mysql
        ports:
            - "23336:3306"
        environment:
            - MYSQL_ROOT_PASSWORD=${POWERAUTH_PUSH_MYSQL_PASSWORD}
        volumes:
            - ${POWERAUTH_PUSH_MYSQL_PATH}:/var/lib/mysql
        healthcheck:
            test: mysqladmin -uroot -p${POWERAUTH_PUSH_MYSQL_PASSWORD} ping
            interval: 5s
            timeout: 5s
            retries: 30

    # PowerAuth Server
    powerauth-java-server:
        image: powerauth/server
        container_name: powerauth-server
        ports:
            - "20010:8080"
        mem_limit: ${POWERAUTH_SERVER_MEMORY_LIMIT}
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:8080/powerauth-java-server"]
            interval: 10s
            timeout: 10s
            retries: 30
        environment:
            - POWERAUTH_SERVER_DATASOURCE_URL=${POWERAUTH_SERVER_DATASOURCE_URL}
            - POWERAUTH_SERVER_DATASOURCE_USERNAME=${POWERAUTH_SERVER_DATASOURCE_USERNAME}
            - POWERAUTH_SERVER_DATASOURCE_PASSWORD=${POWERAUTH_SERVER_DATASOURCE_PASSWORD}
            - POWERAUTH_SERVER_DATASOURCE_DRIVER=${POWERAUTH_SERVER_DATASOURCE_DRIVER}
            - POWERAUTH_SERVER_JPA_DDL_AUTO=${POWERAUTH_SERVER_JPA_DDL_AUTO}
            - POWERAUTH_SERVER_JPA_CHARSET=${POWERAUTH_SERVER_JPA_CHARSET}
            - POWERAUTH_SERVER_JPA_CHARACTER_ENCODING=${POWERAUTH_SERVER_JPA_CHARACTER_ENCODING}
            - POWERAUTH_SERVER_JPA_USE_UNICODE=${POWERAUTH_SERVER_JPA_USE_UNICODE}
            - POWERAUTH_SERVER_JPA_DATABASE_PLATFORM=${POWERAUTH_SERVER_JPA_DATABASE_PLATFORM}
            - POWERAUTH_SERVER_JPA_LOCK_TIMEOUT=${POWERAUTH_SERVER_JPA_LOCK_TIMEOUT}
            - POWERAUTH_SERVER_DATASOURCE_JNDI_NAME=${POWERAUTH_SERVER_DATASOURCE_JNDI_NAME}
            - POWERAUTH_SERVER_SPRING_JMX_ENABLED=${POWERAUTH_SERVER_SPRING_JMX_ENABLED}
            - POWERAUTH_SERVER_SPRING_JMX_DEFAULT_DOMAIN=${POWERAUTH_SERVER_SPRING_JMX_DEFAULT_DOMAIN}
            - POWERAUTH_SERVER_HTTP_PROXY_ENABLED=${POWERAUTH_SERVER_HTTP_PROXY_ENABLED}
            - POWERAUTH_SERVER_HTTP_PROXY_HOST=${POWERAUTH_SERVER_HTTP_PROXY_HOST}
            - POWERAUTH_SERVER_HTTP_PROXY_PORT=${POWERAUTH_SERVER_HTTP_PROXY_PORT}
            - POWERAUTH_SERVER_HTTP_PROXY_USERNAME=${POWERAUTH_SERVER_HTTP_PROXY_USERNAME}
            - POWERAUTH_SERVER_HTTP_PROXY_PASSWORD=${POWERAUTH_SERVER_HTTP_PROXY_PASSWORD}
            - POWERAUTH_SERVER_HTTP_CONNECTION_TIMEOUT=${POWERAUTH_SERVER_HTTP_CONNECTION_TIMEOUT}
            - POWERAUTH_SERVER_TOKEN_TIMESTAMP_VALIDITY=${POWERAUTH_SERVER_TOKEN_TIMESTAMP_VALIDITY}
            - POWERAUTH_SERVER_RESTRICT_ACCESS=${POWERAUTH_SERVER_RESTRICT_ACCESS}
            - POWERAUTH_SERVER_RECOVERY_MAX_FAILED_ATTEMPTS=${POWERAUTH_SERVER_RECOVERY_MAX_FAILED_ATTEMPTS}
            - POWERAUTH_SERVER_MASTER_DB_ENCRYPTION_KEY=${POWERAUTH_SERVER_MASTER_DB_ENCRYPTION_KEY}
            - POWERAUTH_SERVER_SECURE_VAULT_ENABLE_BIOMETRY=${POWERAUTH_SERVER_SECURE_VAULT_ENABLE_BIOMETRY}
            - POWERAUTH_SERVER_APPLICATION_NAME=${POWERAUTH_SERVER_APPLICATION_NAME}
            - POWERAUTH_SERVER_APPLICATION_DISPLAY_NAME=${POWERAUTH_SERVER_APPLICATION_DISPLAY_NAME}
            - POWERAUTH_SERVER_APPLICATION_ENVIRONMENT=${POWERAUTH_SERVER_APPLICATION_ENVIRONMENT}
            - POWERAUTH_SERVER_LOGGING=${POWERAUTH_SERVER_LOGGING}
            - POWERAUTH_ADMIN_POWERAUTH_SERVICE_URL=${POWERAUTH_ADMIN_POWERAUTH_SERVICE_URL}
            - POWERAUTH_ADMIN_SECURITY_CLIENT_TOKEN=${POWERAUTH_ADMIN_SECURITY_CLIENT_TOKEN}
            - POWERAUTH_ADMIN_SECURITY_CLIENT_SECRET=${POWERAUTH_ADMIN_SECURITY_CLIENT_SECRET}
            - POWERAUTH_ADMIN_ACCEPT_INVALID_SSL_CERTIFICATE=${POWERAUTH_ADMIN_ACCEPT_INVALID_SSL_CERTIFICATE}
            - POWERAUTH_ADMIN_SECURITY_METHOD=${POWERAUTH_ADMIN_SECURITY_METHOD}
            - POWERAUTH_ADMIN_LDAP_USER_DN_PATTERNS=${POWERAUTH_ADMIN_LDAP_USER_DN_PATTERNS}
            - POWERAUTH_ADMIN_LDAP_USER_SEARCH_BASE=${POWERAUTH_ADMIN_LDAP_USER_SEARCH_BASE}
            - POWERAUTH_ADMIN_LDAP_USER_SEARCH_FILTER=${POWERAUTH_ADMIN_LDAP_USER_SEARCH_FILTER}
            - POWERAUTH_ADMIN_LDAP_GROUP_SEARCH_BASE=${POWERAUTH_ADMIN_LDAP_GROUP_SEARCH_BASE}
            - POWERAUTH_ADMIN_LDAP_GROUP_SEARCH_FILTER=${POWERAUTH_ADMIN_LDAP_GROUP_SEARCH_FILTER}
            - POWERAUTH_ADMIN_LDAP_GROUP_ROLE_ATTRIBUTE=${POWERAUTH_ADMIN_LDAP_GROUP_ROLE_ATTRIBUTE}
            - POWERAUTH_ADMIN_LDAP_URL=${POWERAUTH_ADMIN_LDAP_URL}
            - POWERAUTH_ADMIN_LDAP_PORT=${POWERAUTH_ADMIN_LDAP_PORT}
            - POWERAUTH_ADMIN_LDAP_ROOT=${POWERAUTH_ADMIN_LDAP_ROOT}
            - POWERAUTH_ADMIN_LDAP_LDIF=${POWERAUTH_ADMIN_LDAP_LDIF}
            - POWERAUTH_ADMIN_LDAP_MANAGER_DN=${POWERAUTH_ADMIN_LDAP_MANAGER_DN}
            - POWERAUTH_ADMIN_LDAP_MANAGER_PASSWORD=${POWERAUTH_ADMIN_LDAP_MANAGER_PASSWORD}
            - POWERAUTH_ADMIN_APPLICATION_NAME=${POWERAUTH_ADMIN_APPLICATION_NAME}
            - POWERAUTH_ADMIN_APPLICATION_DISPLAY_NAME=${POWERAUTH_ADMIN_APPLICATION_DISPLAY_NAME}
            - POWERAUTH_ADMIN_APPLICATION_ENVIRONMENT=${POWERAUTH_ADMIN_APPLICATION_ENVIRONMENT}
            - POWERAUTH_ADMIN_LOGGING=${POWERAUTH_ADMIN_LOGGING}
            - JAVA_OPTS=${POWERAUTH_JAVA_OPTS}
        depends_on:
            powerauth-mysql:
                condition: service_healthy

    # PowerAuth Push Server
    powerauth-push-server:
        image: powerauth/push-server
        container_name: powerauth-push-server
        ports:
            - "20030:8080"
        mem_limit: ${PUSH_SERVER_MEMORY_LIMIT}
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:8080/powerauth-push-server"]
            interval: 10s
            timeout: 10s
            retries: 30
        environment:
            - PUSH_SERVER_POWERAUTH_SERVICE_URL=${PUSH_SERVER_POWERAUTH_SERVICE_URL}
            - PUSH_SERVER_PUSH_SERVICE_URL=${PUSH_SERVER_PUSH_SERVICE_URL}
            - PUSH_SERVER_SECURITY_CLIENT_TOKEN=${PUSH_SERVER_SECURITY_CLIENT_TOKEN}
            - PUSH_SERVER_SECURITY_CLIENT_SECRET=${PUSH_SERVER_SECURITY_CLIENT_SECRET}
            - PUSH_SERVER_ACCEPT_INVALID_SSL_CERTIFICATE=${PUSH_SERVER_ACCEPT_INVALID_SSL_CERTIFICATE}
            - PUSH_SERVER_DATASOURCE_URL=${PUSH_SERVER_DATASOURCE_URL}
            - PUSH_SERVER_DATASOURCE_USERNAME=${PUSH_SERVER_DATASOURCE_USERNAME}
            - PUSH_SERVER_DATASOURCE_PASSWORD=${PUSH_SERVER_DATASOURCE_PASSWORD}
            - PUSH_SERVER_DATASOURCE_DRIVER=${PUSH_SERVER_DATASOURCE_DRIVER}
            - PUSH_SERVER_JPA_DDL_AUTO=${PUSH_SERVER_JPA_DDL_AUTO}
            - PUSH_SERVER_JPA_CHARSET=${PUSH_SERVER_JPA_CHARSET}
            - PUSH_SERVER_JPA_CHARACTER_ENCODING=${PUSH_SERVER_JPA_CHARACTER_ENCODING}
            - PUSH_SERVER_JPA_USE_UNICODE=${PUSH_SERVER_JPA_USE_UNICODE}
            - PUSH_SERVER_JPA_DATABASE_PLATFORM=${PUSH_SERVER_JPA_DATABASE_PLATFORM}
            - PUSH_SERVER_APNS_DEVELOPMENT=${PUSH_SERVER_APNS_DEVELOPMENT}
            - PUSH_SERVER_APNS_PROXY_ENABLED=${PUSH_SERVER_APNS_PROXY_ENABLED}
            - PUSH_SERVER_APNS_PROXY_HOST=${PUSH_SERVER_APNS_PROXY_HOST}
            - PUSH_SERVER_APNS_PROXY_PORT=${PUSH_SERVER_APNS_PROXY_PORT}
            - PUSH_SERVER_APNS_PROXY_USERNAME=${PUSH_SERVER_APNS_PROXY_USERNAME}
            - PUSH_SERVER_APNS_PROXY_PASSWORD=${PUSH_SERVER_APNS_PROXY_PASSWORD}
            - PUSH_SERVER_FCM_PROXY_ENABLED=${PUSH_SERVER_FCM_PROXY_ENABLED}
            - PUSH_SERVER_FCM_PROXY_HOST=${PUSH_SERVER_FCM_PROXY_HOST}
            - PUSH_SERVER_FCM_PROXY_PORT=${PUSH_SERVER_FCM_PROXY_PORT}
            - PUSH_SERVER_FCM_PROXY_USERNAME=${PUSH_SERVER_FCM_PROXY_USERNAME}
            - PUSH_SERVER_FCM_PROXY_PASSWORD=${PUSH_SERVER_FCM_PROXY_PASSWORD}
            - PUSH_SERVER_FCM_DATA_NOTIFICATION_ONLY=${PUSH_SERVER_FCM_DATA_NOTIFICATION_ONLY}
            - PUSH_SERVER_DATASOURCE_JNDI_NAME=${PUSH_SERVER_DATASOURCE_JNDI_NAME}
            - PUSH_SERVER_CAMPAIGN_BATCH_SIZE=${PUSH_SERVER_CAMPAIGN_BATCH_SIZE}
            - PUSH_SERVER_MESSAGE_STORAGE_ENABLED=${PUSH_SERVER_MESSAGE_STORAGE_ENABLED}
            - PUSH_SERVER_REGISTRATION_MULTIPLE_ACTIVATIONS_ENABLED=${PUSH_SERVER_REGISTRATION_MULTIPLE_ACTIVATIONS_ENABLED}
            - PUSH_SERVER_SPRING_BATCH_JOB_ENABLED=${PUSH_SERVER_SPRING_BATCH_JOB_ENABLED}
            - PUSH_SERVER_SPRING_JMX_ENABLED=${PUSH_SERVER_SPRING_JMX_ENABLED}
            - PUSH_SERVER_SPRING_JMX_DEFAULT_DOMAIN=${PUSH_SERVER_SPRING_JMX_DEFAULT_DOMAIN}
            - PUSH_SERVER_FCM_CONNECT_TIMEOUT=${PUSH_SERVER_FCM_CONNECT_TIMEOUT}
            - PUSH_SERVER_APNS_CONNECT_TIMEOUT=${PUSH_SERVER_APNS_CONNECT_TIMEOUT}
            - PUSH_SERVER_APNS_IDLE_PING_INTERVAL=${PUSH_SERVER_APNS_IDLE_PING_INTERVAL}
            - PUSH_SERVER_APNS_CONCURRENT_CONNECTIONS=${PUSH_SERVER_APNS_CONCURRENT_CONNECTIONS}
            - PUSH_SERVER_APPLICATION_NAME=${PUSH_SERVER_APPLICATION_NAME}
            - PUSH_SERVER_APPLICATION_DISPLAY_NAME=${PUSH_SERVER_APPLICATION_DISPLAY_NAME}
            - PUSH_SERVER_APPLICATION_ENVIRONMENT=${PUSH_SERVER_APPLICATION_ENVIRONMENT}
            - PUSH_SERVER_LOGGING=${PUSH_SERVER_LOGGING}
            - JAVA_OPTS=${POWERAUTH_JAVA_OPTS}
        depends_on:
            powerauth-push-mysql:
                condition: service_healthy
            powerauth-java-server:
                condition: service_healthy
