version: '2.1'
services:

    # PowerAuth Server Database
    powerauth-mysql:
        image: powerauth/server-mysql
        container_name: powerauth-server-mysql
        ports:
            - "23316:3306"
        environment:
            - MYSQL_ROOT_PASSWORD=${POWERAUTH_MYSQL_PASSWORD}
        volumes:
            - ${POWERAUTH_MYSQL_PATH}:/var/lib/mysql
        healthcheck:
            test: mysqladmin -uroot -p${POWERAUTH_MYSQL_PASSWORD} ping
            interval: 5s
            timeout: 5s
            retries: 30

    # PowerAuth Push Server Database
    powerauth-push-mysql:
        image: powerauth/push-mysql
        container_name: powerauth-push-mysql
        ports:
            - "23336:3306"
        environment:
            - MYSQL_ROOT_PASSWORD=${POWERAUTH_PUSH_MYSQL_PASSWORD}
        volumes:
            - ${POWERAUTH_PUSH_MYSQL_PATH}:/var/lib/mysql
        healthcheck:
            test: mysqladmin -uroot -p${POWERAUTH_PUSH_MYSQL_PASSWORD} ping
            interval: 5s
            timeout: 5s
            retries: 30

    # PowerAuth WebFlow MySQL Database
    powerauth-webflow-mysql:
        image: powerauth/webflow-mysql
        container_name: powerauth-webflow-mysql
        ports:
            - "23376:3306"
        environment:
            - MYSQL_ROOT_PASSWORD=${POWERAUTH_WEBFLOW_MYSQL_PASSWORD}
        volumes:
            - ${POWERAUTH_WEBFLOW_MYSQL_PATH}:/var/lib/mysql
        healthcheck:
            test: mysqladmin -uroot -p${POWERAUTH_WEBFLOW_MYSQL_PASSWORD} ping
            interval: 5s
            timeout: 5s
            retries: 30

    # PowerAuth Server
    powerauth-java-server:
        image: powerauth/server
        container_name: powerauth-server
        ports:
            - "20010:8080"
        mem_limit: ${POWERAUTH_SERVER_MEMORY_LIMIT}
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:8080/powerauth-java-server"]
            interval: 10s
            timeout: 10s
            retries: 30
        environment:
            - POWERAUTH_SERVER_DATASOURCE_URL=${POWERAUTH_SERVER_DATASOURCE_URL}
            - POWERAUTH_SERVER_DATASOURCE_USERNAME=${POWERAUTH_SERVER_DATASOURCE_USERNAME}
            - POWERAUTH_SERVER_DATASOURCE_PASSWORD=${POWERAUTH_SERVER_DATASOURCE_PASSWORD}
            - POWERAUTH_SERVER_DATASOURCE_DRIVER=${POWERAUTH_SERVER_DATASOURCE_DRIVER}
            - POWERAUTH_SERVER_JPA_DDL_AUTO=${POWERAUTH_SERVER_JPA_DDL_AUTO}
            - POWERAUTH_SERVER_JPA_CHARSET=${POWERAUTH_SERVER_JPA_CHARSET}
            - POWERAUTH_SERVER_JPA_CHARACTER_ENCODING=${POWERAUTH_SERVER_JPA_CHARACTER_ENCODING}
            - POWERAUTH_SERVER_JPA_USE_UNICODE=${POWERAUTH_SERVER_JPA_USE_UNICODE}
            - POWERAUTH_SERVER_JPA_DATABASE_PLATFORM=${POWERAUTH_SERVER_JPA_DATABASE_PLATFORM}
            - POWERAUTH_SERVER_JPA_LOCK_TIMEOUT=${POWERAUTH_SERVER_JPA_LOCK_TIMEOUT}
            - POWERAUTH_SERVER_DATASOURCE_JNDI_NAME=${POWERAUTH_SERVER_DATASOURCE_JNDI_NAME}
            - POWERAUTH_SERVER_SPRING_JMX_ENABLED=${POWERAUTH_SERVER_SPRING_JMX_ENABLED}
            - POWERAUTH_SERVER_SPRING_JMX_DEFAULT_DOMAIN=${POWERAUTH_SERVER_SPRING_JMX_DEFAULT_DOMAIN}
            - POWERAUTH_SERVER_HTTP_PROXY_ENABLED=${POWERAUTH_SERVER_HTTP_PROXY_ENABLED}
            - POWERAUTH_SERVER_HTTP_PROXY_HOST=${POWERAUTH_SERVER_HTTP_PROXY_HOST}
            - POWERAUTH_SERVER_HTTP_PROXY_PORT=${POWERAUTH_SERVER_HTTP_PROXY_PORT}
            - POWERAUTH_SERVER_HTTP_PROXY_USERNAME=${POWERAUTH_SERVER_HTTP_PROXY_USERNAME}
            - POWERAUTH_SERVER_HTTP_PROXY_PASSWORD=${POWERAUTH_SERVER_HTTP_PROXY_PASSWORD}
            - POWERAUTH_SERVER_HTTP_CONNECTION_TIMEOUT=${POWERAUTH_SERVER_HTTP_CONNECTION_TIMEOUT}
            - POWERAUTH_SERVER_TOKEN_TIMESTAMP_VALIDITY=${POWERAUTH_SERVER_TOKEN_TIMESTAMP_VALIDITY}
            - POWERAUTH_SERVER_RESTRICT_ACCESS=${POWERAUTH_SERVER_RESTRICT_ACCESS}
            - POWERAUTH_SERVER_RECOVERY_MAX_FAILED_ATTEMPTS=${POWERAUTH_SERVER_RECOVERY_MAX_FAILED_ATTEMPTS}
            - POWERAUTH_SERVER_MASTER_DB_ENCRYPTION_KEY=${POWERAUTH_SERVER_MASTER_DB_ENCRYPTION_KEY}
            - POWERAUTH_SERVER_APPLICATION_NAME=${POWERAUTH_SERVER_APPLICATION_NAME}
            - POWERAUTH_SERVER_APPLICATION_DISPLAY_NAME=${POWERAUTH_SERVER_APPLICATION_DISPLAY_NAME}
            - POWERAUTH_SERVER_APPLICATION_ENVIRONMENT=${POWERAUTH_SERVER_APPLICATION_ENVIRONMENT}
            - POWERAUTH_SERVER_LOGGING=${POWERAUTH_SERVER_LOGGING}
            - POWERAUTH_ADMIN_POWERAUTH_SERVICE_URL=${POWERAUTH_ADMIN_POWERAUTH_SERVICE_URL}
            - POWERAUTH_ADMIN_SECURITY_CLIENT_TOKEN=${POWERAUTH_ADMIN_SECURITY_CLIENT_TOKEN}
            - POWERAUTH_ADMIN_SECURITY_CLIENT_SECRET=${POWERAUTH_ADMIN_SECURITY_CLIENT_SECRET}
            - POWERAUTH_ADMIN_ACCEPT_INVALID_SSL_CERTIFICATE=${POWERAUTH_ADMIN_ACCEPT_INVALID_SSL_CERTIFICATE}
            - POWERAUTH_ADMIN_SECURITY_METHOD=${POWERAUTH_ADMIN_SECURITY_METHOD}
            - POWERAUTH_ADMIN_LDAP_USER_DN_PATTERNS=${POWERAUTH_ADMIN_LDAP_USER_DN_PATTERNS}
            - POWERAUTH_ADMIN_LDAP_USER_SEARCH_BASE=${POWERAUTH_ADMIN_LDAP_USER_SEARCH_BASE}
            - POWERAUTH_ADMIN_LDAP_USER_SEARCH_FILTER=${POWERAUTH_ADMIN_LDAP_USER_SEARCH_FILTER}
            - POWERAUTH_ADMIN_LDAP_GROUP_SEARCH_BASE=${POWERAUTH_ADMIN_LDAP_GROUP_SEARCH_BASE}
            - POWERAUTH_ADMIN_LDAP_GROUP_SEARCH_FILTER=${POWERAUTH_ADMIN_LDAP_GROUP_SEARCH_FILTER}
            - POWERAUTH_ADMIN_LDAP_GROUP_ROLE_ATTRIBUTE=${POWERAUTH_ADMIN_LDAP_GROUP_ROLE_ATTRIBUTE}
            - POWERAUTH_ADMIN_LDAP_URL=${POWERAUTH_ADMIN_LDAP_URL}
            - POWERAUTH_ADMIN_LDAP_PORT=${POWERAUTH_ADMIN_LDAP_PORT}
            - POWERAUTH_ADMIN_LDAP_ROOT=${POWERAUTH_ADMIN_LDAP_ROOT}
            - POWERAUTH_ADMIN_LDAP_LDIF=${POWERAUTH_ADMIN_LDAP_LDIF}
            - POWERAUTH_ADMIN_LDAP_MANAGER_DN=${POWERAUTH_ADMIN_LDAP_MANAGER_DN}
            - POWERAUTH_ADMIN_LDAP_MANAGER_PASSWORD=${POWERAUTH_ADMIN_LDAP_MANAGER_PASSWORD}
            - POWERAUTH_ADMIN_APPLICATION_NAME=${POWERAUTH_ADMIN_APPLICATION_NAME}
            - POWERAUTH_ADMIN_APPLICATION_DISPLAY_NAME=${POWERAUTH_ADMIN_APPLICATION_DISPLAY_NAME}
            - POWERAUTH_ADMIN_APPLICATION_ENVIRONMENT=${POWERAUTH_ADMIN_APPLICATION_ENVIRONMENT}
            - POWERAUTH_ADMIN_LOGGING=${POWERAUTH_ADMIN_LOGGING}
            - JAVA_OPTS=${POWERAUTH_JAVA_OPTS}
        depends_on:
            powerauth-mysql:
                condition: service_healthy

    # PowerAuth Push Server
    powerauth-push-server:
        image: powerauth/push-server
        container_name: powerauth-push-server
        ports:
            - "20030:8080"
        mem_limit: ${PUSH_SERVER_MEMORY_LIMIT}
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:8080/powerauth-push-server"]
            interval: 10s
            timeout: 10s
            retries: 30
        environment:
            - PUSH_SERVER_POWERAUTH_SERVICE_URL=${PUSH_SERVER_POWERAUTH_SERVICE_URL}
            - PUSH_SERVER_PUSH_SERVICE_URL=${PUSH_SERVER_PUSH_SERVICE_URL}
            - PUSH_SERVER_SECURITY_CLIENT_TOKEN=${PUSH_SERVER_SECURITY_CLIENT_TOKEN}
            - PUSH_SERVER_SECURITY_CLIENT_SECRET=${PUSH_SERVER_SECURITY_CLIENT_SECRET}
            - PUSH_SERVER_ACCEPT_INVALID_SSL_CERTIFICATE=${PUSH_SERVER_ACCEPT_INVALID_SSL_CERTIFICATE}
            - PUSH_SERVER_DATASOURCE_URL=${PUSH_SERVER_DATASOURCE_URL}
            - PUSH_SERVER_DATASOURCE_USERNAME=${PUSH_SERVER_DATASOURCE_USERNAME}
            - PUSH_SERVER_DATASOURCE_PASSWORD=${PUSH_SERVER_DATASOURCE_PASSWORD}
            - PUSH_SERVER_DATASOURCE_DRIVER=${PUSH_SERVER_DATASOURCE_DRIVER}
            - PUSH_SERVER_JPA_DDL_AUTO=${PUSH_SERVER_JPA_DDL_AUTO}
            - PUSH_SERVER_JPA_CHARSET=${PUSH_SERVER_JPA_CHARSET}
            - PUSH_SERVER_JPA_CHARACTER_ENCODING=${PUSH_SERVER_JPA_CHARACTER_ENCODING}
            - PUSH_SERVER_JPA_USE_UNICODE=${PUSH_SERVER_JPA_USE_UNICODE}
            - PUSH_SERVER_JPA_DATABASE_PLATFORM=${PUSH_SERVER_JPA_DATABASE_PLATFORM}
            - PUSH_SERVER_APNS_DEVELOPMENT=${PUSH_SERVER_APNS_DEVELOPMENT}
            - PUSH_SERVER_APNS_PROXY_ENABLED=${PUSH_SERVER_APNS_PROXY_ENABLED}
            - PUSH_SERVER_APNS_PROXY_HOST=${PUSH_SERVER_APNS_PROXY_HOST}
            - PUSH_SERVER_APNS_PROXY_PORT=${PUSH_SERVER_APNS_PROXY_PORT}
            - PUSH_SERVER_APNS_PROXY_USERNAME=${PUSH_SERVER_APNS_PROXY_USERNAME}
            - PUSH_SERVER_APNS_PROXY_PASSWORD=${PUSH_SERVER_APNS_PROXY_PASSWORD}
            - PUSH_SERVER_FCM_PROXY_ENABLED=${PUSH_SERVER_FCM_PROXY_ENABLED}
            - PUSH_SERVER_FCM_PROXY_HOST=${PUSH_SERVER_FCM_PROXY_HOST}
            - PUSH_SERVER_FCM_PROXY_PORT=${PUSH_SERVER_FCM_PROXY_PORT}
            - PUSH_SERVER_FCM_PROXY_USERNAME=${PUSH_SERVER_FCM_PROXY_USERNAME}
            - PUSH_SERVER_FCM_PROXY_PASSWORD=${PUSH_SERVER_FCM_PROXY_PASSWORD}
            - PUSH_SERVER_FCM_DATA_NOTIFICATION_ONLY=${PUSH_SERVER_FCM_DATA_NOTIFICATION_ONLY}
            - PUSH_SERVER_DATASOURCE_JNDI_NAME=${PUSH_SERVER_DATASOURCE_JNDI_NAME}
            - PUSH_SERVER_CAMPAIGN_BATCH_SIZE=${PUSH_SERVER_CAMPAIGN_BATCH_SIZE}
            - PUSH_SERVER_MESSAGE_STORAGE_ENABLED=${PUSH_SERVER_MESSAGE_STORAGE_ENABLED}
            - PUSH_SERVER_REGISTRATION_MULTIPLE_ACTIVATIONS_ENABLED=${PUSH_SERVER_REGISTRATION_MULTIPLE_ACTIVATIONS_ENABLED}
            - PUSH_SERVER_SPRING_BATCH_JOB_ENABLED=${PUSH_SERVER_SPRING_BATCH_JOB_ENABLED}
            - PUSH_SERVER_SPRING_JMX_ENABLED=${PUSH_SERVER_SPRING_JMX_ENABLED}
            - PUSH_SERVER_SPRING_JMX_DEFAULT_DOMAIN=${PUSH_SERVER_SPRING_JMX_DEFAULT_DOMAIN}
            - PUSH_SERVER_FCM_CONNECT_TIMEOUT=${PUSH_SERVER_FCM_CONNECT_TIMEOUT}
            - PUSH_SERVER_APNS_CONNECT_TIMEOUT=${PUSH_SERVER_APNS_CONNECT_TIMEOUT}
            - PUSH_SERVER_APPLICATION_NAME=${PUSH_SERVER_APPLICATION_NAME}
            - PUSH_SERVER_APPLICATION_DISPLAY_NAME=${PUSH_SERVER_APPLICATION_DISPLAY_NAME}
            - PUSH_SERVER_APPLICATION_ENVIRONMENT=${PUSH_SERVER_APPLICATION_ENVIRONMENT}
            - PUSH_SERVER_LOGGING=${PUSH_SERVER_LOGGING}
            - JAVA_OPTS=${POWERAUTH_JAVA_OPTS}
        depends_on:
            powerauth-push-mysql:
                condition: service_healthy
            powerauth-java-server:
                condition: service_healthy

    # PowerAuth NextStep Server
    powerauth-nextstep:
        image: powerauth/nextstep
        container_name: powerauth-nextstep
        ports:
            - "13010:8080"
        mem_limit: ${NEXTSTEP_MEMORY_LIMIT}
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:8080/powerauth-nextstep"]
            interval: 10s
            timeout: 10s
            retries: 30
        environment:
            - NEXTSTEP_DATASOURCE_URL=${NEXTSTEP_DATASOURCE_URL}
            - NEXTSTEP_DATASOURCE_USERNAME=${NEXTSTEP_DATASOURCE_USERNAME}
            - NEXTSTEP_DATASOURCE_PASSWORD=${NEXTSTEP_DATASOURCE_PASSWORD}
            - NEXTSTEP_DATASOURCE_DRIVER=${NEXTSTEP_DATASOURCE_DRIVER}
            - NEXTSTEP_JPA_DDL_AUTO=${NEXTSTEP_JPA_DDL_AUTO}
            - NEXTSTEP_JPA_CHARSET=${NEXTSTEP_JPA_CHARSET}
            - NEXTSTEP_JPA_CHARACTER_ENCODING=${NEXTSTEP_JPA_CHARACTER_ENCODING}
            - NEXTSTEP_JPA_USE_UNICODE=${NEXTSTEP_JPA_USE_UNICODE}
            - NEXTSTEP_JPA_DATABASE_PLATFORM=${NEXTSTEP_JPA_DATABASE_PLATFORM}
            - NEXTSTEP_OPERATION_EXPIRATION_TIME=${NEXTSTEP_OPERATION_EXPIRATION_TIME}
            - NEXTSTEP_DATASOURCE_JNDI_NAME=${NEXTSTEP_DATASOURCE_JNDI_NAME}
            - NEXTSTEP_SPRING_JMX_ENABLED=${NEXTSTEP_SPRING_JMX_ENABLED}
            - NEXTSTEP_SPRING_JMX_DEFAULT_DOMAIN=${NEXTSTEP_SPRING_JMX_DEFAULT_DOMAIN}
            - NEXTSTEP_APPLICATION_NAME=${NEXTSTEP_APPLICATION_NAME}
            - NEXTSTEP_APPLICATION_DISPLAY_NAME=${NEXTSTEP_APPLICATION_DISPLAY_NAME}
            - NEXTSTEP_APPLICATION_ENVIRONMENT=${NEXTSTEP_APPLICATION_ENVIRONMENT}
            - NEXTSTEP_LOGGING=${NEXTSTEP_LOGGING}
            - JAVA_OPTS=${POWERAUTH_JAVA_OPTS}
        depends_on:
            powerauth-webflow-mysql:
                condition: service_healthy

    # PowerAuth TPP registry and consent engine
    powerauth-tpp-engine:
        image: powerauth/tpp-engine
        container_name: powerauth-tpp-engine
        ports:
            - "13060:8080"
        mem_limit: ${TPP_ENGINE_MEMORY_LIMIT}
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:8080/powerauth-tpp-engine"]
            interval: 10s
            timeout: 10s
            retries: 30
        environment:
            - POWERAUTH_TPP_ENGINE_DATASOURCE_URL=${POWERAUTH_TPP_ENGINE_DATASOURCE_URL}
            - POWERAUTH_TPP_ENGINE_DATASOURCE_USERNAME=${POWERAUTH_TPP_ENGINE_DATASOURCE_USERNAME}
            - POWERAUTH_TPP_ENGINE_DATASOURCE_PASSWORD=${POWERAUTH_TPP_ENGINE_DATASOURCE_PASSWORD}
            - POWERAUTH_TPP_ENGINE_DATASOURCE_DRIVER=${POWERAUTH_TPP_ENGINE_DATASOURCE_DRIVER}
            - POWERAUTH_TPP_ENGINE_JPA_DDL_AUTO=${POWERAUTH_TPP_ENGINE_JPA_DDL_AUTO}
            - POWERAUTH_TPP_ENGINE_JPA_CHARSET=${POWERAUTH_TPP_ENGINE_JPA_CHARSET}
            - POWERAUTH_TPP_ENGINE_JPA_CHARACTER_ENCODING=${POWERAUTH_TPP_ENGINE_JPA_CHARACTER_ENCODING}
            - POWERAUTH_TPP_ENGINE_JPA_USE_UNICODE=${POWERAUTH_TPP_ENGINE_JPA_USE_UNICODE}
            - POWERAUTH_TPP_ENGINE_JPA_DATABASE_PLATFORM=${POWERAUTH_TPP_ENGINE_JPA_DATABASE_PLATFORM}
            - POWERAUTH_TPP_ENGINE_DATASOURCE_JNDI_NAME=${POWERAUTH_TPP_ENGINE_DATASOURCE_JNDI_NAME}
            - POWERAUTH_TPP_ENGINE_SPRING_JMX_ENABLED=${POWERAUTH_TPP_ENGINE_SPRING_JMX_ENABLED}
            - POWERAUTH_TPP_ENGINE_SPRING_JMX_DEFAULT_DOMAIN=${POWERAUTH_TPP_ENGINE_SPRING_JMX_DEFAULT_DOMAIN}
            - POWERAUTH_TPP_ENGINE_APPLICATION_NAME=${POWERAUTH_TPP_ENGINE_APPLICATION_NAME}
            - POWERAUTH_TPP_ENGINE_APPLICATION_DISPLAY_NAME=${POWERAUTH_TPP_ENGINE_APPLICATION_DISPLAY_NAME}
            - POWERAUTH_TPP_ENGINE_APPLICATION_ENVIRONMENT=${POWERAUTH_TPP_ENGINE_APPLICATION_ENVIRONMENT}
            - POWERAUTH_TPP_ENGINE_LOGGING=${POWERAUTH_TPP_ENGINE_LOGGING}
            - JAVA_OPTS=${POWERAUTH_JAVA_OPTS}
        depends_on:
            powerauth-webflow-mysql:
                condition: service_healthy

    # PowerAuth Data Adapter
    powerauth-data-adapter:
        image: powerauth/data-adapter
        container_name: powerauth-data-adapter
        ports:
            - "13050:8080"
        mem_limit: ${DATA_ADAPTER_MEMORY_LIMIT}
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:8080/powerauth-data-adapter"]
            interval: 10s
            timeout: 10s
            retries: 30
        environment:
            - DATA_ADAPTER_DATASOURCE_URL=${DATA_ADAPTER_DATASOURCE_URL}
            - DATA_ADAPTER_DATASOURCE_USERNAME=${DATA_ADAPTER_DATASOURCE_USERNAME}
            - DATA_ADAPTER_DATASOURCE_PASSWORD=${DATA_ADAPTER_DATASOURCE_PASSWORD}
            - DATA_ADAPTER_DATASOURCE_DRIVER=${DATA_ADAPTER_DATASOURCE_DRIVER}
            - DATA_ADAPTER_JPA_DDL_AUTO=${DATA_ADAPTER_JPA_DDL_AUTO}
            - DATA_ADAPTER_JPA_CHARSET=${DATA_ADAPTER_JPA_CHARSET}
            - DATA_ADAPTER_JPA_CHARACTER_ENCODING=${DATA_ADAPTER_JPA_CHARACTER_ENCODING}
            - DATA_ADAPTER_JPA_USE_UNICODE=${DATA_ADAPTER_JPA_USE_UNICODE}
            - DATA_ADAPTER_JPA_DATABASE_PLATFORM=${DATA_ADAPTER_JPA_DATABASE_PLATFORM}
            - DATA_ADAPTER_SMS_EXPIRATION=${DATA_ADAPTER_SMS_EXPIRATION}
            - DATA_ADAPTER_SMS_MAX_TRIES=${DATA_ADAPTER_SMS_MAX_TRIES}
            - DATA_ADAPTER_DATASOURCE_JNDI_NAME=${DATA_ADAPTER_DATASOURCE_JNDI_NAME}
            - DATA_ADAPTER_SPRING_JMX_ENABLED=${DATA_ADAPTER_SPRING_JMX_ENABLED}
            - DATA_ADAPTER_SPRING_JMX_DEFAULT_DOMAIN=${DATA_ADAPTER_SPRING_JMX_DEFAULT_DOMAIN}
            - DATA_ADAPTER_APPLICATION_NAME=${DATA_ADAPTER_APPLICATION_NAME}
            - DATA_ADAPTER_APPLICATION_DISPLAY_NAME=${DATA_ADAPTER_APPLICATION_DISPLAY_NAME}
            - DATA_ADAPTER_APPLICATION_ENVIRONMENT=${DATA_ADAPTER_APPLICATION_ENVIRONMENT}
            - DATA_ADAPTER_LOGGING=${DATA_ADAPTER_LOGGING}
            - JAVA_OPTS=${POWERAUTH_JAVA_OPTS}
        depends_on:
            powerauth-tpp-engine:
                condition: service_healthy

    # PowerAuth Web Flow Server
    powerauth-webflow:
        image: powerauth/webflow
        container_name: powerauth-webflow
        ports:
            - "13030:8080"
        mem_limit: ${WEBFLOW_MEMORY_LIMIT}
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:8080/powerauth-webflow"]
            interval: 10s
            timeout: 10s
            retries: 30
        environment:
            - WEBFLOW_DATA_ADAPTER_URL=${WEBFLOW_DATA_ADAPTER_URL}
            - WEBFLOW_NEXTSTEP_URL=${WEBFLOW_NEXTSTEP_URL}
            - WEBFLOW_POWERAUTH_SERVICE_URL=${WEBFLOW_POWERAUTH_SERVICE_URL}
            - WEBFLOW_POWERAUTH_SECURITY_TOKEN=${WEBFLOW_POWERAUTH_SECURITY_TOKEN}
            - WEBFLOW_POWERAUTH_SECURITY_SECRET=${WEBFLOW_POWERAUTH_SECURITY_SECRET}
            - WEBFLOW_ACCEPT_INVALID_SSL_CERTIFICATE=${WEBFLOW_ACCEPT_INVALID_SSL_CERTIFICATE}
            - WEBFLOW_PUSH_SERVER_URL=${WEBFLOW_PUSH_SERVER_URL}
            - WEBFLOW_DATASOURCE_URL=${WEBFLOW_DATASOURCE_URL}
            - WEBFLOW_DATASOURCE_USERNAME=${WEBFLOW_DATASOURCE_USERNAME}
            - WEBFLOW_DATASOURCE_PASSWORD=${WEBFLOW_DATASOURCE_PASSWORD}
            - WEBFLOW_DATASOURCE_DRIVER=${WEBFLOW_DATASOURCE_DRIVER}
            - WEBFLOW_JPA_DDL_AUTO=${WEBFLOW_JPA_DDL_AUTO}
            - WEBFLOW_JPA_CHARSET=${WEBFLOW_JPA_CHARSET}
            - WEBFLOW_JPA_CHARACTER_ENCODING=${WEBFLOW_JPA_CHARACTER_ENCODING}
            - WEBFLOW_JPA_USE_UNICODE=${WEBFLOW_JPA_USE_UNICODE}
            - WEBFLOW_JPA_DATABASE_PLATFORM=${WEBFLOW_JPA_DATABASE_PLATFORM}
            - WEBFLOW_DATASOURCE_JNDI_NAME=${WEBFLOW_DATASOURCE_JNDI_NAME}
            - WEBFLOW_PAGE_TITLE=${WEBFLOW_PAGE_TITLE}
            - WEBFLOW_PAGE_EXT_RESOURCES_LOCATION=${WEBFLOW_PAGE_EXT_RESOURCES_LOCATION}
            - WEBFLOW_PAGE_CUSTOM_CSS_URL=${WEBFLOW_PAGE_CUSTOM_CSS_URL}
            - WEBFLOW_OFFLINE_MODE_AVAILABLE=${WEBFLOW_OFFLINE_MODE_AVAILABLE}
            - WEBFLOW_SHOW_SECURITY_WARNING_ANDROID=${WEBFLOW_SHOW_SECURITY_WARNING_ANDROID}
            - WEBFLOW_PASSWORD_PROTECTION_TYPE=${WEBFLOW_PASSWORD_PROTECTION_TYPE}
            - WEBFLOW_PASSWORD_ENCRYPTION_TRANSFORMATION=${WEBFLOW_PASSWORD_ENCRYPTION_TRANSFORMATION}
            - WEBFLOW_PASSWORD_ENCRYPTION_KEY=${WEBFLOW_PASSWORD_ENCRYPTION_KEY}
            - WEBFLOW_SMS_RESEND_DELAY_MS=${WEBFLOW_SMS_RESEND_DELAY_MS}
            - WEBFLOW_TIMEOUT_WARNING_DELAY_MS=${WEBFLOW_TIMEOUT_WARNING_DELAY_MS}
            - WEBFLOW_SPRING_JMX_ENABLED=${WEBFLOW_SPRING_JMX_ENABLED}
            - WEBFLOW_SPRING_JMX_DEFAULT_DOMAIN=${WEBFLOW_SPRING_JMX_DEFAULT_DOMAIN}
            - WEBFLOW_APPLICATION_NAME=${WEBFLOW_APPLICATION_NAME}
            - WEBFLOW_APPLICATION_DISPLAY_NAME=${WEBFLOW_APPLICATION_DISPLAY_NAME}
            - WEBFLOW_APPLICATION_ENVIRONMENT=${WEBFLOW_APPLICATION_ENVIRONMENT}
            - WEBFLOW_LOGGING=${WEBFLOW_LOGGING}
            - JAVA_OPTS=${POWERAUTH_JAVA_OPTS}
        depends_on:
            powerauth-webflow-mysql:
                condition: service_healthy
            powerauth-nextstep:
                condition: service_healthy
            powerauth-data-adapter:
                condition: service_healthy
            powerauth-java-server:
                condition: service_healthy
